<!DOCTYPE html>
<html>
<head>
    <title>Flask Example - {{ title|default("Home", true) }}</title>
</head>
<body>
    <div>
        <h3>Flask Example:
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a></h3>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <ul>{{ message }}</ul>
                {% endfor %}
             </ul>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock content %}
</body>
</html>