{% extends "layout.html" %}
{% block content %}
<div>
    <form method="POST" action="">
        <fieldset>
            <legend>Log In</legend>

            <div>
                {{ form.username.label }}
                {{ form.username }}
                <ul>
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ form.password.label }}
                {{ form.password }}
                <ul>
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            </div>
        <div>
            <p>{{ form.remember_me() }} {{ form.remember_me.label}}</p>
            <p>{{ form.submit() }}</p>
        </div>

        </fieldset>

        {{ form.csrf_token }}

    </form>

</div>

{% endblock content %}
