{% extends "layout.html" %}
{% block content %}
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Sign Up</legend>
            <div>
                {{ form.email.label }}
                {{ form.email }}
                <ul>
                    {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ form.username.label }}
                {{ form.username }}
                <ul>
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ form.password.label }}
                {{ form.password }}
                <ul>
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ form.confirm_password.label }}
                {{ form.confirm_password }}
                <ul>
                    {% for error in form.confirm_password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            </div>
        </fieldset>
        <div>
            {{ form.submit() }}
        </div>

        {{ form.csrf_token }}

    </form>

</div>

{% endblock content %}
